<div class="row">
  <div class="col text-center">
    <h1>@ViewData["Title"]</h1>
  </div>
</div>

<form>
  <div class="mb-3">
    <label class="form-label">Título</label>
    <input type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Data</label>
    <input type="date" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
</form>